@{
    ViewBag.Title = "FIE/Index";
}

<h2>FIE/Index</h2>
<h1>Доступ для пользователей с ролями Guest и Employer </h1>
<br />

<div>
    @Html.ActionLink("Ссылка на FIE/FIE_TM", "FIE_TM") <br />
    @Html.ActionLink("Ссылка на FIE/FIE_UR", "FIE_UR") <br />
    @Html.ActionLink("Ссылка на FIE/FIE_UP", "FIE_UP") <br />
    @Html.ActionLink("Ссылка на BSTU/Index", "Index", "BSTU") <br />
</div>