@{
    ViewBag.Title = "FIT/Index";
}

<h2>FIT/Index</h2>
<h1>Доступ для пользователей с ролями Guest и Employer </h1><br />

<div>
    @Html.ActionLink("Ссылка на FIT/FIT_IS", "FIT_IS") <br />
    @Html.ActionLink("Ссылка на FIT/FIT_PI", "FIT_PI") <br />
    @Html.ActionLink("Ссылка на FIT/FIT_ID", "FIT_ID") <br />
    @Html.ActionLink("Ссылка на BSTU/Index", "Index", "BSTU") <br />

</div>