@model IPhoneDictionary.Phone
@{
    ViewBag.Title = "Add";
}
@using Lab6.Helpers

<h2>Add</h2>


@Html.AddPhoneForm()

<div>
    @Html.ActionLink("Home page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
