@{
    ViewBag.Title = "FLT/Index";
}

<h2>FLT/Index</h2>
<h1>Доступ для пользователей с ролями Guest и Employer </h1>
<br />

<div>
    @Html.ActionLink("Ссылка на FLT/FLT_LV", "FLT_LV") <br />
    @Html.ActionLink("Ссылка на FLT/FLT_LU", "FLT_LU") <br />
    @Html.ActionLink("Ссылка на FLT/FLT_LZ", "FLT_LZ") <br />
    @Html.ActionLink("Ссылка на BSTU/Index", "Index", "BSTU") <br />
</div>
